/************************/
/*         Main         */
/************************/
.pageHeader {
	text-align: center;
	background: rgb(36, 127, 183);	
	padding: 5px;
}

footer {
	background: rgb(36, 127, 183);
	height: 200px;
	padding: 5px;
	text-align: center;
	font-size:24px;
}