<div class="paddy1">
	invoiceNumber
</div>
<div class="paddy1">
	productId
</div>
<div class="clearFix">
	<div class="row cell20">
		<div class="center">
			<img src="{$settings.moduleAddress}/{$settings.moduleName}/view/img/vanguardPost.png" onclick="$('deliveryType').val(5)"><br>
			<b>پست پیشتاز</b>
		</div>
	</div>
	<div class="row cell20">
		<div class="center">
			<img src="{$settings.moduleAddress}/{$settings.moduleName}/view/img/iriPost.png" onclick="$('deliveryType').val(5)"><br>
			<b>پست ایران</b>
		</div>
	</div>
	<div class="row cell20">
		<div class="center">
			<img src="{$settings.moduleAddress}/{$settings.moduleName}/view/img/tipax.png" onclick="$('deliveryType').val(5)"><br>
			<b>تیپاکس</b>
		</div>
	</div>
	<div class="row cell20">
		<div class="center">
			<img src="{$settings.moduleAddress}/{$settings.moduleName}/view/img/airPost.png" onclick="$('deliveryType').val(5)"><br>
			<b>هوایی</b>
		</div>
	</div>
	<div class="row cell20">
		<div class="center">
			<img src="{$settings.moduleAddress}/{$settings.moduleName}/view/img/motorCyclePost.png" onclick="$('deliveryType').val(5)"><br>
			<b>پیک موتوری</b>
		</div>
	</div>
	<input id="deliveryType" name="deliveryType" type="hidden" maxlength="1" required>
</div>