/************************/
/*         Main         */
/************************/
.specialFont {
	font-family: yekan;	
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 40px;
	left: 0px;
	margin: 20px 0px;
}

.pageHeader {
	line-height: 30px;
}

.panel {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1010;
	min-height: 5em;
}

.panel .cPanel {
	display: none;
	background: url('../img/gradient.png') repeat-x;
}

.panel button {
	background: none repeat scroll 0 0 rgba(233, 11, 3, 0.7);
}

.navCell {
	padding: 3px;
	border: 1px solid #e7e7e7;
	margin: 0px 2px;
}

.navigateSprite {
	background: url(../img/icon/navigate.png) no-repeat top left;
}

.navigate-firstPage {
	background-position: 0 0;
	width: 6px;
	height: 7px;
}

.navigate-lastPage {
	background-position: 0 -57px;
	width: 6px;
	height: 7px;
}

.navigate-nextPage {
	background-position: 0 -114px;
	width: 5px;
	height: 7px;
}

.navigate-prevPage {
	background-position: 0 -171px;
	width: 5px;
	height: 7px;
}

.panel button:HOVER {
	-webkit-box-shadow: 1px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 1px 1px 5px 0px #4a4a4a;
	box-shadow: 1px 1px 5px 0px #4a4a4a;
}

.searchResult {
	margin-top: -1px;
	padding-right: 2px;
	display: none;
	position: absolute;
	height: 200px;
	overflow: auto;
	z-index: 1010;
}

.searchResultItem:hover {
	background: rgb(182, 207, 219);
}

.liveSupport {
	position: fixed;
	background: #fff;
	top: 80px;
	left: 0px;
	z-index: 1011;
}

.basket {
	position: fixed;
	background: #27AB27;
	top: 0px;
	left: 0px;
	z-index: 1011;
}

.basketContent {
	position: relative;
	font-size: 10px;
	display: none;
	background: #fff;
	border: 1px solid #E8E53E;
	overflow: auto;
	height: 290px;	
	min-width: 700px;
}

.basketContent .basketEDelivery {
	height: 20px;
	margin-right: -5px;
	width: 100%;
	position: absolute;
	background: rgba(85, 161, 232, 0.9);
	bottom: 0px;
	z-index: 1010;	
}

.next {
	background-color: #E8E53E;
	cursor: pointer;
}

.prev {
	background-color: #88ED6F;
	cursor: pointer;
}

.lang {
	padding: 0px 5px;
}

.menu {
	line-height: 40px;
	padding: 30px 0;
}

.container {
	margin: 10px auto;
	width: 76%;
}

.content {
	position: relative;
	min-height: 500px;
	padding: 10px;
}

.sitemapInputBox {
	height: 80px; 
	font-size: 40px; 
	font-family: yekan; 
	color: #cecece;
	direction: rtl;
}

.relatedContent {
	display: none;
	min-width: 300px;
	background: #fff;
	z-index: 1010;
}

.tagCloud {
	height: 400px;
	padding: 30px;
}

.curve-down {
	border: none;
	-webkit-border-radius: 100% / 33px;
	-moz-border-radius: 100% / 33px;
	border-radius: 100% / 33px;
	-webkit-box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
	box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
}

.bgBox {
	position: relative;
	border-top: 1px solid f2f2f2;
	-webkit-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0 1px 6px url(0/IE9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(249,249,249,0.8)), color-stop(100%, rgba(240,240,240,0.8)));
	background: -webkit-linear-gradient(top, rgba(249,249,249,0.8) 50%, rgba(240,240,240,0.8) 100%);
	background: -moz-linear-gradient(top, rgba(249,249,249,0.8) 50%, rgba(240,240,240,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(249,249,249,0.8) 50%, rgba(240,240,240,0.8) 100%);
	background: -o-linear-gradient(top, rgba(249,249,249,0.8) 50%, rgba(240,240,240,0.8) 100%);
	background: linear-gradient(top, rgba(249,249,249,0.8) 50%, rgba(240,240,240,0.8) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	-moz-box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
}

.simpleBox {
	padding: 10px;
	border: 1px solid #cecece;
	background: #fff;	
}

.links {
	font-family: yekan;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	background: url('../img/darkestBg.png');
}

.links a {
	color: #fff;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;	
	z-index: 1010;
	height: 40px;
	box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.1);
}

.footerHandler {
	text-align: center;
	font-family: yekan;
	border: 2px #e8e8e8;
	border-style: solid solid none solid;
	font-weight: bolder;	
	background: rgba(0, 0, 0, 0.7);
	margin-bottom: -2px;
}

.footerContent {
	border-top: 2px solid #e8e8e8;
	padding: 0.8em 0px;
	color: #fff;
	font-size: 0.8em;
	line-height: 150%;
	background: rgba(0, 0, 0, 0.7);
}

.footerContent h1 {
	text-align: center;
}

.footerContent a {
	color: #66aabb;
	text-decoration: none;
}

.footerContent a:hover {
	color: #F3633F;
}

.footerCol {
	height: 37em;
	padding: 5px 20px;
	border-left: 1px dashed #dddddd;
}

.footerCol ul {
	list-style: disc;	
}

.footerCol ul li {
	font-weight: bolder;	
}

.copyright {
	text-align: left;
	color: #aaaaaa;
	font-size: 0.8em;
	background: rgba(0, 0, 0, 0.7);
}

.goTop {
	display: none;
	right: 10px;
	bottom: 10px;
	position: fixed;
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
	font-size: 2em;
	color: #ffffff;
	cursor: pointer;
}

.goTop:hover {
	background: rgba(244, 0, 0, 0.7);
}

@media screen and (max-width:2560px) {
	
}

@media screen and (max-width:1920px) {
	
}

@media screen and (max-width:1536px) {

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
	
}

@media screen and (max-width:640px) {
	
}