<div class="curvedFull paddy5" style="background: #fff;">
	<div id="postContentType" class="clearFix">
		<div class="row cell24">
			<div id="videoContent" class="h100 curvedTop center opacity8 pointer paddy5" style="background: #efefef;">
				<img src="theme/{$settings.theme}/img/icon/DVCamera.png">
			</div>
		</div>
		<div class="row cell1">&nbsp;</div>
		<div class="row cell24">
			<div id="imageContent" class="h100 curvedTop center opacity8 pointer paddy5" style="background: #efefef;">
				<img src="theme/{$settings.theme}/img/icon/DCamera.png">
			</div>
		</div>
		<div class="row cell2">&nbsp;</div>
		<div class="row cell24">
			<div id="voiceContent" class="h100 curvedTop center opacity8 pointer paddy5" style="background: #efefef;">
				<img src="theme/{$settings.theme}/img/icon/headset.png">
			</div>
		</div>
		<div class="row cell1">&nbsp;</div>
		<div class="row cell24">
			<div id="textContent" class="h100 curvedTop center opacity8 pointer paddy5" style="background: #efefef;">
				<img src="theme/{$settings.theme}/img/icon/content.png">
			</div>
		</div>
		<input id="contentType" name="contentType" type="hidden" size="6">
	</div>
	<div id="postContentEntry" class="curvedBottom paddy5 displayNone" style="background: #e7e7e7;">
		<div id="uploader" class="clearFix" style="padding: 1px 0px; display: none;">
			<div class="row cell10">
				{$lang.file}:
			</div>
			<div class="row cell90">
				<div id="show-file-single-path1" style="border: 1px solid #000;" onclick="browseServer('file-single-path1');">
					<img src="theme/{$settings.theme}/img/icon/plus.png">
				</div>
				<input id="file-single-path1" name="file-single-path1" type="hidden" size="15" value="{$entity.contentPath}">
			</div>
		</div>
		<div class="clearFix" style="padding: 1px 0px;">
			<div class="row cell10">
				{$lang.title}:
			</div>
			<div class="row cell90">
				<input id="title" name="title" class="input cell60" type="text" maxlength="500">
			</div>
		</div>
		<div class="clearFix" style="padding: 1px 0px;">
			<div class="row cell10">
				{$lang.category}:
			</div>
			<div class="row cell90">
				<ul id="categorymenu" class="mcdropdown_menu">
					{$category}
				</ul>
				<input type="text" name="category" id="category" value="">
			</div>
		</div>
		<div class="clearFix" style="padding: 1px 0px;">
			<div class="row cell10">
				{$lang.message}:
			</div>
			<div class="row cell90">
				<div id="editorFullText"></div>
				<div id="textcontents" class="displayNone">
					<!-- This div will be used to display the editor contents. -->
					<div id="description"></div>
				</div>
				<textarea id="fullText" name="fullText" rows="10" style="border: 3px solid #d3d3d3;"></textarea>
				<div style="padding: 0px 0px 1px 0px; position: relative;">
					<div id="timePanel" class="paddy5 clearFix" style="display:none; background: #d3d3d3;">
						<div class="row cell15">
							{$lang.startTime}:
						</div>
						<div class="row cell85">
							<select id="startDay" name="startDay">
								{section name=startDay start=1 loop=32}
								<option value="{$smarty.section.startDay.iteration}">{$smarty.section.startDay.iteration}</option>
								{/section}
							</select>
							<select id="startMonth" name="startMonth">
								{section name=startMonth start=1 loop=13}
								<option value="{$smarty.section.startMonth.iteration}">{$smarty.section.startMonth.iteration}</option>
								{/section}
							</select>
							<select id="startYear" name="startYear">
								{section name=startYear start=1392 loop=1401}
								<option value="{$smarty.section.startYear.index}">{$smarty.section.startYear.index}</option>
								{/section}
							</select>
							{$lang.hour}: 
							<select id="startMinute" name="startMinute">
								{section name="startMinute" loop=60}
								<option value="{$smarty.section.startMinute.index}">{$smarty.section.startMinute.index}</option>
								{/section}
							</select>
							:
							<select id="startHour" name="startHour">
								{section name="startHour" loop=24}
								<option value="{$smarty.section.startHour.index}">{$smarty.section.startHour.index}</option>
								{/section}
							</select>
						</div>
						<br class="clear">
						<div class="row cell15">
							{$lang.endTime}:
						</div>
						<div class="row cell85">
							<select id="endDay" name="endDay">
								{section name=endDay start=1 loop=32}
								<option value="{$smarty.section.endDay.iteration}">{$smarty.section.endDay.iteration}</option>
								{/section}
							</select>
							<select id="endMonth" name="endMonth">
								{section name=endMonth start=1 loop=13}
								<option value="{$smarty.section.endMonth.iteration}">{$smarty.section.endMonth.iteration}</option>
								{/section}
							</select>
							<select id="endYear" name="endYear">
								{section name=endYear start=1391 loop=1401}
								<option value="{$smarty.section.endYear.index}">{$smarty.section.endYear.index}</option>
								{/section}
							</select>
							{$lang.hour}: 
							<select id="endMinute" name="endMinute">
								{section name="endMinute" loop=60}
								<option value="{$smarty.section.endMinute.index}">{$smarty.section.endMinute.index}</option>
								{/section}
							</select>
							:
							<select id="endHour" name="endHour">
								{section name="endHour" loop=24}
								<option value="{$smarty.section.endHour.index}">{$smarty.section.endHour.index}</option>
								{/section}
							</select>
						</div>
					</div>
					<div id="sourcePanel" class="paddy5 clearFix" style="display:none; background: #d3d3d3;">
						<div class="row cell15">
							{$lang.resources}:
						</div>
						<div class="row cell85">
							<textarea id="resources" rows="5" cols="84"></textarea>
						</div>
					</div>
					<div id="attachPanel" class="paddy5 clearFix" style="display:none; background: #d3d3d3;">
						<div class="row cell15">
							{$lang.attach}:
						</div>
						<div class="row cell85">
							<div id="show-file-single-path2" style="border: 1px solid #000;" onclick="browseServer('file-single-path2');">
								<img src="theme/{$settings.theme}/img/goldButton.png">
							</div>
							<input id="file-single-path2" name="file-single-path2" type="hidden" size="15" value="{$entity.filePath}">
						</div>
					</div>
					<div class="clearFix">
						<div class="row cell5 center">&nbsp;</div>
						<div class="row cell10 center curvedBottom" style="background: #D3D3D3; padding: 3px 0px;">
							<img id="setTime" src="theme/{$settings.theme}/img/icon/time.png" style="cursor: pointer;">
						</div>
						<div class="row cell1 center">&nbsp;</div>
						<div class="row cell10 center curvedBottom" style="background: #D3D3D3; padding: 3px 0px;">
							<img id="setSource" src="theme/{$settings.theme}/img/icon/resource.png" style="cursor: pointer;">
						</div>
						<div class="row cell1 center">&nbsp;</div>
						<div class="row cell10 center curvedBottom" style="background: #D3D3D3; padding: 3px 0px;">
							<img id="setAttach" src="theme/{$settings.theme}/img/icon/attach.png" style="cursor: pointer;">
						</div>
						<div class="row cell63 center">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearFix" style="padding: 1px 0px;">
			<div class="row cell10">
				{$lang.mediaPublish}:
			</div>
			<div class="row cell90 clearFix">
				<div class="row cell5">
					<input id="emailPublish" name="emailPublish" type="checkbox" value="1" checked="checked" onclick="checkBoxToggle('emailPublish')">
				</div>
				<div class="row cell10">{$lang.sendEmail}</div>
				<div class="row cell5">
					<input id="smsPublish" name="smsPublish" type="checkbox" value="1" checked="checked" onclick="checkBoxToggle('smsPublish')">
				</div>
				<div class="row cell80">{$lang.sendSms}</div>
			</div>
		</div>
		<div class="clearFix" style="padding: 1px 0px;">
			<div class="row cell10">
				{$lang.domain}:
			</div>
			<div class="row cell90">
				<select id="domain" name="domain">
					<option value="..."> ... </option>
					<option value="digiseo.ir"> digiseo.ir </option>
					<option value="digiwebdesign.ir"> digiwebdesign.ir </option>
					<option value="techbazar.ir"> techbazar.ir </option>
					<option value="mimgraphic.ir"> mimgraphic.ir </option>
				</select>
			</div>
		</div>
		<div>
			<button class="cell40" onclick="
				$('#content').farajax('loader', '/post/c_addObject', 
					   'title=' + $('#title').val() + '::{$lang.title}<>Multi<>1<>ce<>200' +
					   '&category=' + $('#category').val() + '::{$lang.category}<>Number<>1<>ce<>11' +
					   '&description=' + getText('description') + '::{$lang.description}<>Multi<>1<>ce<>1000000000' +
					   '&startDay=' + $('#startDay').val() + '::{$lang.startTime}<>Number<>1<>nce<>11' +
					   '&startMonth=' + $('#startMonth').val() + '::{$lang.startTime}<>Number<>1<>nce<>11' +
					   '&startYear=' + $('#startYear').val() + '::{$lang.startTime}<>Number<>1<>nce<>11' +
					   '&startMinute=' + $('#startMinute').val() + '::{$lang.startTime}<>Number<>1<>nce<>11' +
					   '&startHour=' + $('#startHour').val() + '::{$lang.startTime}<>Number<>1<>nce<>11' +
					   '&endDay=' + $('#endDay').val() + '::{$lang.endTime}<>Number<>1<>nce<>11' +
					   '&endMonth=' + $('#endMonth').val() + '::{$lang.endTime}<>Number<>1<>nce<>11' +
					   '&endYear=' + $('#endYear').val() + '::{$lang.endTime}<>Number<>1<>nce<>11' +
					   '&endMinute=' + $('#endMinute').val() + '::{$lang.endTime}<>Number<>1<>nce<>11' +
					   '&endHour=' + $('#endHour').val() + '::{$lang.endTime}<>Number<>1<>nce<>11' +
					   '&resources=' + $('#resources').val() + '::{$lang.resources}<>Multi<>1<>nce<>2000' +
					   '&contentType=' + $('#contentType').val() + '::{$lang.contentType}<>String<>1<>ce<>6' +
					   '&fileSinglePath1=' + $('#file-single-path1').val() + '::{$lang.contentPath}<>Multi<>1<>nce<>200' +
					   '&fileSinglePath2=' + $('#file-single-path2').val() + '::{$lang.file}<>Multi<>1<>nce<>200' +
					   '&emailPublish=' + $('#emailPublish').val() + '::{$lang.sendEmail}<>Number<>1<>nce<>1' +
					   '&smsPublish=' + $('#smsPublish').val() + '::{$lang.sendSms}<>Number<>1<>nce<>1' +
					   '&domain=' + $('#domain').val() + '::{$lang.domain}<>String<>1<>nce<>20'
				);
			">
			<span>{$lang.submit}</span>
			</button>
		</div>
	</div>
</div>
<commands value="postModuleInitial(); removeEditor(); createEditor('description', 'editorFullText'); $('#fullText').fadeOut();">