.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 515px;
	height: 180px;
}

.kwicks > * {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.kwicks > a {
	width: 125px;
	height: 180px;
	/* overridden by kwicks but good for when JavaScript is disabled */
	margin-left: 5px;
	float: left;
}

.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}

.kwicks-horizontal > * {
	float: left;
}

.kwicks-horizontal > :first-child {
	margin-left: 0;
}

.kwicks-vertical > :first-child {
	margin-top: 0;
}
