.newsTicker {
	margin: auto;
    color: #fff;
    padding: 3px 44px 1px 7px;
    height: 16px;
    overflow: hidden;
}

.newsTicker a, #ticker a:visited {
    color: #000;
    text-decoration: none;
}

.newsTicker a:hover {
    color: #636736;
}