<div id="pageIn" class="pageIn" style="overflow: auto;">
	<h1 class="title">راهنمای شرکت در مسابقات</h1>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">آموزش
نحوه  شركت در مسابقات</SPAN></FONT></FONT></SPAN></FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">شركت
در مسابقات سايت كار ساده ايست و فقط
كافيست يك كارت بانكي عضو شتاب داشته
باشيد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">البته
به سه روش ديگر نيز امكانپذير است كه در
ادامه توضيح ميدهم</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">شما
ميتوانيد براي شركت در مسابقات به ترتيب
زير عمل كنيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>:</FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT SIZE=4>1-</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">اگر
اولين بار است كه به سايت مراجعه ميكنيد
، حتما بايد عضو شويد و اگر قبلا عضو شده
ايد با رمز عبورتان وارد شويد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">براي
تصاحب  هر كدام از جوايز پايين فقط </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>5000
</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">تومان
و جايزه ويژه </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>10000
</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">تومان
پرداخت كنيد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#ff0000"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>شما
ميتوانيد با خريد بخت اضافه ،امتياز خود
را براي تصاحب جايزه بيشتر كنيد</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#ff0000"><FONT SIZE=4><B>.</B></FONT></FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT SIZE=4>2-
</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">روي
تصوير جايزه اي كه چشمتونو گرفته كليك
كنيد تا مستقيما وارد  صفحه شركت در مسابقه
شويد و مراحل را با دقت ادامه دهيد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">اطلاعات
مربوط به جايزه و تصاوير آن در همين صفحه
قرار دارد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0in; margin-bottom: 0in">
<FONT SIZE=4>3 -  </FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">براي
پرداخت از </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>4
</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">روش
ميتونيد استفاده كنيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.........</FONT></P>
<UL>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#00b050"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR">روش
	پرداخت آنلاين </SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4>:</FONT></FONT><FONT SIZE=4>
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">در
	اين روش شما بصورت اتوماتيك وارد درگاه
	بانك ميشيد و با وارد كردن اطلاعات يكي
	از كارت هاي عضو شتاب پرداخت خودتونو
	انجام بديد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بانك
	هايي كه لوگوي اونا تو اين بخش نيست فعلا
	امكان پرداخت اينترنتي را بروي كارت هاي
	خود فعال نكردن</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">اما
	نگران نباشيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">كارت
	شما جزء اونا نيست</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.......</FONT></P>
</UL>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.5in; margin-bottom: 0in">
<FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">در
اين مرحله شما </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>4
</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">پارامتر
ميخواهيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.....</FONT></P>
<UL>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#92d050"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>شماره
	كارت كه روي كارت درج شده</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#92d050"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>رمز
	اينترنتي كارت كه از خودپرداز و يا داخل
	شعبه قابل دريافته</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#92d050"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>كد
	</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#92d050"><FONT SIZE=4><B>CVV2
	</B></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>كه
	يا روي كارته يا از خودپرداز و يا از شعبه
	بگيريد</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#92d050"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>تاريخ
	انقضاي كارت كه باز هم ممكنه روي كارت و
	يا از خودپرداز يا از داخل شعبه بايد
	گرفت</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#92d050"><FONT SIZE=4><B>.</B></FONT></FONT></P>
</UL>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 1.05in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT COLOR="#92d050">
                                  </FONT>
<IMG SRC="{$settings.moduleAddress}/lottery/view/img/h1.jpg" NAME="Picture 2" ALT="جهت اقدام 4.jpg" ALIGN=BOTTOM WIDTH=326 HEIGHT=229 BORDER=0><FONT COLOR="#92d050">
                                                             </FONT>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 1.05in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 1.05in; margin-bottom: 0in">
<FONT COLOR="#92d050">        </FONT>
<IMG SRC="{$settings.moduleAddress}/lottery/view/img/h2.jpg" NAME="Picture 0" ALT="جهت اقدام3.jpg" ALIGN=BOTTOM WIDTH=333 HEIGHT=221 BORDER=0></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 1.05in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 1.05in; margin-bottom: 0in">
<FONT COLOR="#ff0000">     <FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>يه
بار بگيريد ، واسه هميشه بدردتون ميخوره</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in">      <FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">حالا
ميتونيد كليد پرداخت رو  فشار بديد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">در
صورتي كه عمليات بانكي با موفقيت انجام
بشه ،يك نسخه از رسيد پرداخت به ايميلتون
ارسال ميشه </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
<UL>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#00b050"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR">روش
	كارت به كارت آنلاين </SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4>:
	</FONT></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">اينم
	مثل بالايي يه روش خيلي راحته</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">براي
	واريز با اين روش ، ميتونيد مبلغ خود را
	به شماره كارت </SPAN></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>3704-0357-8611-6219</B></FONT></FONT><FONT SIZE=4>
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بنام
	آقاي علي طافي كارت به كارت كنيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">در
	صورتي كه عمليات بانكي با موفقيت انجام
	بشه ،يك نسخه از رسيد پرداخت به ايميلتون
	ارسال ميشه </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT></P>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT COLOR="#00b050">
	 <FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>روش
	پرداخت كارت به كارت از طريق عابر بانك
	</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>:</B></FONT></FONT><FONT SIZE=4>
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">مبلغ
	رو به شماره كارت        </SPAN></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>3704-0357-8611-6219
	</B></FONT></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بنام
	آقاي علي طافي ، بانك سامان، انتقال داده
	و چهار رقم آخر شماره كارت خودتونو ارسال
	كنيد </SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بشما
	ايميل تائيد پرداخت ارسال ميشه</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	 </FONT>
	</P>
</UL>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.5in; margin-bottom: 0in">
<BR>
</P>
<UL>
	<LI><P DIR="RTL" ALIGN=RIGHT STYLE="margin-bottom: 0in"><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT COLOR="#00b050"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>روش
	پرداخت از طريق شعب بانك سامان </B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>:</B></FONT></FONT><FONT SIZE=4>
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">مبلغ
	مورد نظر رو بشماره حساب           
	</SPAN></FONT></FONT></SPAN></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>1-357370-800-901</B></FONT></FONT><FONT COLOR="#00b050"><FONT SIZE=4><B>
	</B></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR"><B>بانك
	سامان  </B></SPAN></FONT></FONT></FONT><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بنام
	آقاي علي طافي واريز كنيد و شماره رهگيري
	رو مثل شكل  وارد كنيد</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	</FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="B Nazanin"><FONT SIZE=4><SPAN LANG="fa-IR">بشما
	ايميل تائيد پرداخت ارسال ميشه</SPAN></FONT></FONT></SPAN></FONT><FONT SIZE=4>.
	 </FONT>
	</P>
</UL>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.1in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.1in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.1in; margin-bottom: 0in">
<BR>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.2in; text-indent: 0.1in; margin-bottom: 0in">
<IMG SRC="{$settings.moduleAddress}/lottery/view/img/h3.jpg" NAME="Picture 1" ALT="جهت اقدام.JPG" ALIGN=BOTTOM WIDTH=573 HEIGHT=345 BORDER=0></P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.1in; margin-bottom: 0in">
<FONT COLOR="#ff0000">                  <FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>اينم
يه امتياز ويژه واسه مشتركين پروپاقرص
سايت </B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#ff0000"><FONT SIZE=4><B>:
                                                   </B></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>به
ازاي هر </B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#ff0000"><FONT SIZE=4><B>3
</B></FONT><FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>بار
شركت ، يه شانس رايگان در جايزه ويژه بدست
مياريد </B></SPAN></FONT></FONT></FONT></SPAN></FONT>
</P>
<P DIR="RTL" ALIGN=RIGHT STYLE="margin-left: 0.1in; margin-bottom: 0in">
<FONT COLOR="#ff0000">                                              
<FONT FACE="DejaVu Sans"><SPAN LANG="fa-IR"><FONT FACE="2  Sina"><FONT SIZE=4><SPAN LANG="fa-IR"><B>بردن
شما به نفع ماست</B></SPAN></FONT></FONT></FONT></SPAN></FONT><FONT COLOR="#ff0000"><FONT SIZE=4><B>...</B></FONT></FONT></P>
</div>