<div class="transparentFrame curvedFull paddy10">
	{nocache}
	<div class="clearFix">
		<div class="row cellAuto">
			<div class="paddy5">
				{iimg src=$objectImage width=250 height=250}
			</div>
		</div>
		<div class="row cellAuto">
			<div class="paddy5">
				<ul>
					<li class="LH40 x1_5">{$objectInfo.name} {$objectInfo.model}</li>
					<li>&nbsp;</li>
					<li>
						<label>{$lang.count}: </label>
						<input id="count{$objectId}" name="count{$objectId}" class="input" type="text" size="5" maxlength="6" value="1">		
					</li>
					<li>&nbsp;</li>
					<li>
						<button onclick="$('#basketContent').farajax('loader', '/basket/c_addObject', 'objectId={$objectId}::{$lang.id}<>Number<>1<>ce<>11&count=' + document.getElementById('count{$objectId}').value + '::{$lang.productCount}<>Number<>1<>nce<>6<>0<>999999');">{$lang.addToBasket}</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{/nocache}
</div>
