<div id="pageIn" class="pageIn">
	{nocache}
	<ul style="padding-right: 4px;">
		<li><div><h1>{$entityList.name}</h1></div><br style="clear: both;"></li>
		<li><div>{$entityList.question}</div><br style="clear: both;"></li>
		
		{if $entityList.answer1}
		<li><div class="row cell15" style="margin-top: -3px;" style="margin-top: -3px;"><input id="makeAnswer1" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 1;"></div><div class="row cell85">{$entityList.answer1}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer2}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer2" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 2;"></div><div class="row cell85">{$entityList.answer2}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer3}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer3" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 3;"></div><div class="row cell85">{$entityList.answer3}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer4}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer4" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 4;"></div><div class="row cell85">{$entityList.answer4}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer5}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer5" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 5;"></div><div class="row cell85">{$entityList.answer5}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer6}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer6" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 6;"></div><div class="row cell85">{$entityList.answer6}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer7}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer7" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 7;"></div><div class="row cell85">{$entityList.answer7}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer8}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer8" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 8;"></div><div class="row cell85">{$entityList.answer8}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer9}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer9" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 9;"></div><div class="row cell85">{$entityList.answer9}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer10}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer10" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 10;"></div><div class="row cell85">{$entityList.answer10}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer11}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer11" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 11;"></div><div class="row cell85">{$entityList.answer11}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer12}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer12" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 12;"></div><div class="row cell85">{$entityList.answer12}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer13}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer13" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 13;"></div><div class="row cell85">{$entityList.answer13}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer14}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer14" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 14;"></div><div class="row cell85">{$entityList.answer14}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer15}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer15" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 15;"></div><div class="row cell85">{$entityList.answer15}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer16}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer1" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 16;"></div><div class="row cell85">{$entityList.answer16}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer17}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer17" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 17;"></div><div class="row cell85">{$entityList.answer17}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer18}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer18" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 18;"></div><div class="row cell85">{$entityList.answer18}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer19}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer19" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 19;"></div><div class="row cell85">{$entityList.answer19}</div><br style="clear: both;"></li>
		{/if}
		
		{if $entityList.answer20}
		<li><div class="row cell15" style="margin-top: -3px;"><input id="makeAnswer20" name="makeAnswer" style="border: 0px;" type="radio" value="0" onclick="this.value = 20;"></div><div class="row cell85">{$entityList.answer20}</div><br style="clear: both;"></li>
		{/if}
		<li><div>&nbsp;</div></li>
		<li>
			<div style="text-align: center;">
				<button onclick="
								content = '&answerId=0::{$lang.makeAnswer}<>Multi<>1<>ce<>200';
								{if $entityList.answer1}
								if(document.getElementById('makeAnswer1').checked)
							   		content = '&answerId=' + document.getElementById('makeAnswer1').value + '::{$lang.makeAnswer} 1<>Multi<>1<>nce<>200';
							   	{/if}
							   	{if $entityList.answer2}
							   	if(document.getElementById('makeAnswer2').checked)
							   		content = '&answerId=' + document.getElementById('makeAnswer2').value + '::{$lang.makeAnswer} 2<>Multi<>1<>nce<>200';
							   	{/if}
							   	{if $entityList.answer3}
							   	if(document.getElementById('makeAnswer3').checked)
									content = '&answerId=' + document.getElementById('makeAnswer3').value + '::{$lang.makeAnswer} 3<>Multi<>1<>nce<>200';
							   	{/if}
							   	{if $entityList.answer4}
							   	if(document.getElementById('makeAnswer4').checked)
									content = '&answerId=' + document.getElementById('makeAnswer4').value + '::{$lang.makeAnswer} 4<>Multi<>1<>nce<>200';
							   	{/if}
							   	{if $entityList.answer5}
							   	if(document.getElementById('makeAnswer5').checked)
									content = '&answerId=' + document.getElementById('makeAnswer5').value + '::{$lang.makeAnswer} 5<>Multi<>1<>nce<>200';
							   	{/if}
							   	{if $entityList.answer6}
							   	if(document.getElementById('makeAnswer6').checked)
									content = '&answerId=' + document.getElementById('makeAnswer6').value + '::{$lang.makeAnswer} 6<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer7}
							   	if(document.getElementById('makeAnswer7').checked)
									content = '&answerId=' + document.getElementById('makeAnswer7').value + '::{$lang.makeAnswer} 7<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer8}
							   	if(document.getElementById('makeAnswer8').checked)
									content = '&answerId=' + document.getElementById('makeAnswer8').value + '::{$lang.makeAnswer} 8<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer9}
							   	if(document.getElementById('makeAnswer9').checked)
									content = '&answerId=' + document.getElementById('makeAnswer9').value + '::{$lang.makeAnswer} 9<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer10}
							   	if(document.getElementById('makeAnswer10').checked)
									content = '&answerId=' + document.getElementById('makeAnswer10').value + '::{$lang.makeAnswer} 10<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer11}
							   	if(document.getElementById('makeAnswer11').checked)
									content = '&answerId=' + document.getElementById('makeAnswer11').value + '::{$lang.makeAnswer} 11<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer12}
							   	if(document.getElementById('makeAnswer12').checked)
									content = '&answerId=' + document.getElementById('makeAnswer12').value + '::{$lang.makeAnswer} 12<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer13}
							   	if(document.getElementById('makeAnswer13').checked)
									content = '&answerId=' + document.getElementById('makeAnswer13').value + '::{$lang.makeAnswer} 13<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer14}
							   	if(document.getElementById('makeAnswer14').checked)
									content = '&answerId=' + document.getElementById('makeAnswer14').value + '::{$lang.makeAnswer} 14<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer15}
							   	if(document.getElementById('makeAnswer15').checked)
									content = '&answerId=' + document.getElementById('makeAnswer15').value + '::{$lang.makeAnswer} 15<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer16}
							   	if(document.getElementById('makeAnswer16').checked)
									content = '&answerId=' + document.getElementById('makeAnswer16').value + '::{$lang.makeAnswer} 16<>Multi<>1<>nce<>200';
								{/if}
								{if $entityList.answer17}
								if(document.getElementById('makeAnswer17').checked)
									content = '&answerId=' + document.getElementById('makeAnswer17').value + '::{$lang.makeAnswer} 17<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer18}
							   	if(document.getElementById('makeAnswer18').checked)
									content = '&answerId=' + document.getElementById('makeAnswer18').value + '::{$lang.makeAnswer} 18<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer19}
							   	if(document.getElementById('makeAnswer19').checked)
									content = '&answerId=' + document.getElementById('makeAnswer19').value + '::{$lang.makeAnswer} 19<>Multi<>1<>nce<>200';
								{/if}
							   	{if $entityList.answer20}
							   	if(document.getElementById('makeAnswer20').checked)
									content = '&answerId=' + document.getElementById('makeAnswer20').value + '::{$lang.makeAnswer} 20<>Multi<>1<>nce<>200';
								{/if}
								$('#content').farajax('loader', '/poll/c_submitObject', 'pollId={$entityList.id}' + content);">
								<span>
								{$lang.submit}
								</span>
				</button>
			</div>
		</li>
	</ul>
	<a href="/poll/c_resultObject/id={$entityList.id}">{$lang.results}</a>
	{/nocache}
</div>