/*=================================*/
.theme-default #slider {
    margin: 0px auto 0 auto;
    width: 100%; /* Make sure your images are the same size */
    height:250px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {

}
/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
