<div class="clearFix">
	<div class="row cell15 curvedTop softGreenGradient LH30 center">
		<a href="financial/v_onlinePayment" target="tabContainer" title="{$lang.onlinePayment}">{$lang.onlinePayment}</a>
	</div>
	<!-- <div class="row cell15 curvedTop softGreenGradient LH30 center">
		<a href="financial/v_payCard" target="tabContainer" title="{$lang.payCard}">{$lang.payCard}</a>
	</div>
	<div class="row cell15 curvedTop softGreenGradient LH30 center">
		<a href="financial/v_payInPerson" target="tabContainer" title="{$lang.payInPerson}">{$lang.payInPerson}</a>
	</div> -->
</div>
<div class="cell100">
	<div id="tabContainer" class="tabContainer">{$lang.selectPaymentType}</div>
</div>