<div id="selectedBank" style="border: 2px solid #F9F77C; width: 98%; background: #F9F77C; font-weight: bold; height: 20px; vertical-align: middle; text-align: center;">&nbsp;<span id="bankName">{$lang.selectBank}</span></div>
<ul id="banks-list" class="banks-list">
	<li id="bank-number-9" style="background-position: -216px 0px;" title="ملی" onmouseover="document.getElementById('bankName').innerHTML='ملی';"></li>
	<li id="bank-number-10" style="background-position: -240px 0px;" title="صادرات" onmouseover="document.getElementById('bankName').innerHTML='صادرات';"></li>
	<li id="bank-number-5" style="background-position: -120px 0px;" title="پارسیان" onmouseover="document.getElementById('bankName').innerHTML='پارسیان';"></li>
	<li id="bank-number-2" style="background-position: -48px 0px;" title="ملت" onmouseover="document.getElementById('bankName').innerHTML='ملت';"></li>
	<li id="bank-number-0" style="background-position: 0px 0px;" title="سامان" onmouseover="document.getElementById('bankName').innerHTML='سامان';"></li>
	<li id="bank-number-12" style="background-position: -288px 0px;" title="تجارت" onmouseover="document.getElementById('bankName').innerHTML='تجارت';"></li>
	<li id="bank-number-15" style="background-position: -360px 0px;" title="رفاه" onmouseover="document.getElementById('bankName').innerHTML='رفاه';"></li>
	<li id="bank-number-16" style="background-position: -384px 0px;" title="سپه" onmouseover="document.getElementById('bankName').innerHTML='سپه';"></li>
	<li id="bank-number-20" style="background-position: -480px 0px;" title="مسکن" onmouseover="document.getElementById('bankName').innerHTML='مسکن';"></li>
	<li id="bank-number-1" style="background-position: -24px 0px;" title="اقتصاد نوین" onmouseover="document.getElementById('bankName').innerHTML='اقتصاد نوین';"></li>
	<li id="bank-number-3" style="background-position: -72px 0px;" title="کشاورزی" onmouseover="document.getElementById('bankName').innerHTML='کشاورزی';"></li>
	<li id="bank-number-8" style="background-position: -192px 0px;" title="پاسارگاد" onmouseover="document.getElementById('bankName').innerHTML='پاسارگاد';"></li>
	<li id="bank-number-13" style="background-position: -312px 0px;" title="توسعه تعاون" onmouseover="document.getElementById('bankName').innerHTML='توسعه تعاون';"></li>
	<li id="bank-number-14" style="background-position: -336px 0px;" title="انصار" onmouseover="document.getElementById('bankName').innerHTML='انصار';"></li>
	<li id="bank-number-11" style="background-position: -264px 0px;" title="پست بانک" onmouseover="document.getElementById('bankName').innerHTML='پست بانک';"></li>
	<li id="bank-number-4" style="background-position: -96px 0px;" title="سینا" onmouseover="document.getElementById('bankName').innerHTML='سینا';"></li>
	<li id="bank-number-17" style="background-position: -408px 0px;" title="سرمایه" onmouseover="document.getElementById('bankName').innerHTML='سرمایه';"></li>
	<li id="bank-number-18" style="background-position: -432px 0px;" title="تات" onmouseover="document.getElementById('bankName').innerHTML='تات';"></li>
	<li id="bank-number-19" style="background-position: -456px 0px;" title="کار آفرین" onmouseover="document.getElementById('bankName').innerHTML='کار آفرین';"></li>
	<li id="bank-number-21" style="background-position: -504px 0px;" title="مهر" onmouseover="document.getElementById('bankName').innerHTML='مهر';"></li>
	<li id="bank-number-22" style="background-position: -528px 0px;" title="دی" onmouseover="document.getElementById('bankName').innerHTML='دی';"></li>
	<li id="bank-number-23" style="background-position: -552px 0px;" title="شهر" onmouseover="document.getElementById('bankName').innerHTML='شهر';"></li>
	<li id="bank-number-6" style="background-position: -144px 0px;" title="توسعه صادرات" onmouseover="document.getElementById('bankName').innerHTML='توسعه صادرات';"></li>
	<li id="bank-number-7" style="background-position: -168px 0px;" title="صنعت و معدن" onmouseover="document.getElementById('bankName').innerHTML='صنعت و معدن';"></li>
</ul>